body {
  background-color: rgba(7, 7, 7, 0.85);
}

h4 {
  font-size: 18px;
}

img {
  max-width: 85px;
  margin: 0;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  margin-top: 10px;
  padding: 0;
  position: left;
}

.weather-app {
  display: block;
  padding: 20px;
  margin: 20px auto 0;
  max-width: 600px;
  border: 3px inset rgb(60, 55, 106);
  border-radius: 40px;
  background: linear-gradient(
    178.1deg,
    rgb(60, 55, 106) 8.5%,
    rgb(23, 20, 69) 82.4%
  );
  color: #fff;
}

.search-bar {
  margin: 10px;
}

.btn-outline-secondary {
  position: relative;
  left: 1px;
  top: -2px;
  line-height: 1.2;
}

.weather-now {
  margin: 0 10px;
  background-color: rgb(60, 55, 106);
  border: 1px inset rgb(60, 55, 106);
  border-radius: 20px;
}

.weather-image-now {
  margin-bottom: 20px;
}

.temperature-now-c {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.c-or-f {
  position: relative;
  text-decoration: none;
  display: inline;
  top: -20px;
}

.date-now {
  font-size: 12px;
  font-size: 16px;
  margin-top: 15px;
}

.city-now {
  padding: 0;
  margin: 10px;
}

.temperature-now {
  display: inline;
}

.temperature-now .active {
  color: #fff;
  cursor: default;
}

.temperature-now .active:hover {
  text-decoration: none;
}

.next5days {
  margin: 0;
  text-align: center;
}

.next5days-header {
  position: relative;
  left: 10px;
  margin: 10px 0px -10px;
}

.weather-5days {
  margin: 0 10px;
  background-color: rgb(60, 55, 106);
  border: 1px inset rgb(60, 55, 106);
  border-radius: 20px;
}

.next5days .col {
  padding: 5px;
  margin: 0 auto;
}

#cityInput {
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
}

.signature {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  color: #fff;
}
.searchForm {
  display: block;
  margin: 0 auto;
}

#forcast-day {
  text-align: center;
}
